html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  /* height: ${isMobile ? '0px' : '8px'}; */
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */

  border-radius: 4px;
  padding :8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: ${colors.black10};  */
  background: #e7eaf0; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0050C5; 
}

/* end of Scrollbar custom */

